[submodule "emacs-for-python"]
	path = emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "web-mode"]
	path = web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "emacs-nav"]
	path = emacs-nav
	url = https://github.com/travisjeffery/emacs-nav.git
[submodule "emacs-git-guntter"]
	path = emacs-git-guntter
	url = https://github.com/syohex/emacs-git-gutter.git
